{% extends "base.html" %}

{% block body %}
<form class="m-5" method="POST">
    <div class="form-group">
      <label for="title">タイトル</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="detail">詳細</label>
      <input type="text" class="form-control" name="detail">
    </div>
    <div class="form-group pb-3">
      <label for="due">期限</label>
      <input type="datetime-local" name="due" required>
    </div>
    <a class="btn btn-success" href="/index" role="button">戻る</a>
    <button type="submit" class="btn btn-dark">作成</button>
</form>

{% endblock %}
